.invoice_container {
    display: flex;
    justify-content: space-between;
    height: 95%;
    padding: 10px;
}

.invoice_list {
    background-color: white;
    height: 95%;
    width: 98%;
    padding: 20px;
    overflow: hidden;
    overflow-y: hidden;
}

.invoice_header {
    display: flex;
    justify-content: space-between;
}

.inventory_invoice {
    background-color: white;
    height: 95%;
    width: 55%;
    padding: 20px;
}

.invoice_header {
    display: flex;
    margin-bottom: 1.5rem;
}

.cart_container {
    height: 50%;
    width: 35%;
    padding-right: 40px;
}

.cart_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
}

.order_cart {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.order_input {
    width: 2rem;
}

.header {
    margin-top: .5rem;
}

.create_invoice {
    background-color: #77a2f1;
    color: white;
    height: 50px;
    width: 120px;
}