.dashboard_container {
    height: 100%;
}

.dashboard_headers {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    margin-bottom: 2rem;
}

.total_items_container {
    background-color: white;
    border-radius: 25px;
    width: 30%;
}

.total_items_padding {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.total_items_header {
    color: gray;
    margin-bottom: .5rem;
}

.total_items_count {
    font-size: 24px;
    font-weight: 500;
}

.total_items_icon {
    font-size: 34px;
    margin-top: 1rem;
    color: blue;
}

.total_groups_container {
    background-color: white;
    border-radius: 25px;
    width: 30%;
}

.total_groups_padding {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.total_groups_header {
    color: gray;
    margin-bottom: .5rem;
}

.total_groups_count {
    font-size: 24px;
    font-weight: 500;
}

.total_groups_icon {
    font-size: 34px;
    margin-top: 1rem;
    color: #FF7F50;
}

.total_users_container {
    background-color: white;
    border-radius: 25px;
    width: 30%;
}

.total_users_padding {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.total_users_header {
    color: gray;
    margin-bottom: .5rem;
}

.total_users_count {
    font-size: 24px;
    font-weight: 500;
}

.total_users_icon {
    font-size: 34px;
    margin-top: 1rem;
    color: green;
}

.dashboard_content {
    height: 81%;
}

.top_items_container {
    background-color: white;
    border-radius: 25px;
    width: 62.5%;
    height: 100%;
    margin-left: 2.5rem;
}

.top_items_padding {
    padding: 20px;
    height: 95%;
}

.top_items_header {
    margin: 0rem;
}

.top_selling_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.product_card {
    background-color: rgb(198, 215, 231);
    border-radius: 25px;
    width: 21%;
    height: 25%;
    margin-top: 1rem;
}

.image_container {
    background-color: rgb(172, 193, 214);
    border-radius: 25px;
    text-align: center;
    padding: 10px 0;
    height: 50%;
}

.card_info {
    padding: 10px 20px;
}

.top_selling_name {
    font-size: 14px;
    font-weight: 500;
}

.top_selling_count {
}

.top_selling_image {
    max-width: 100px;
    max-height: 75px;
}