.group_list {
    background-color: white;
    height: 95%;
    width: 98%;
    padding: 20px;
    overflow: hidden;
    overflow-y: hidden;
}

.group_header {
    display: flex;
    justify-content: space-between;
}